@model IEnumerable<NewsSystem.Web.ViewModels.NewsViewModel>

@{
    ViewBag.Title = "Home Page";
}
<div class="row">
    <div class="col-md-3">
        @Html.Partial("_Search")
    </div>
</div>
<br />
<ul class="list-group">
    @foreach (var news in Model)
    {
        @Html.Partial("_NewsSimpleView", news)
    }
</ul>


