@model NewsSystem.Web.ViewModels.NewsViewModel

<li>
    <a href="/News/Details/@Model.Id">@Model.Title</a><span class="pull-right">Category : @Model.CategoryName</span>
    <div>@Model.PubDate</div>
</li>


