@model NewsSystem.Web.ViewModels.NewsViewModel

<li id="@Model.Id" class="news-item">
    <h4 ><span class="text-category">@Model.CategoryName</span></h4>
    <a href="/News/Details/@Model.Id"><span class="text-large">@Model.Title</span></a>
    <div>@Model.PubDate.ToString("MM-dd-yyyy")</div>
</li>


