body {
    padding-top: 70px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

#author-sign {
    font-size: 0.8em;
}

.news-title {
    border-bottom: 1px solid lightgray;
    color:blue;
    font-style:italic;
    font-weight:bold;
}

.date-created {
    font-size: 0.7em;
    font-style: italic;
}

.vticker{
    border:1px solid black;
}

.vticker ul{
    width:98%;
    list-style:none;
}

.vticker ul li{
    border-bottom:2px inset gray;
    padding-bottom:2px;
}

.search-results ul{
    list-style:none;
    padding:0;
}

.text-large{
    font-size:1.6em;
}

a{
    font-weight:bold;
    color:black;
}

a:hover{
    text-decoration:none;
    color:blue;
}

a:visited{
    text-decoration:none;
}

.text-category{
    border-bottom:1px solid black;
}

.news-item{
    background-color:#ebebeb;
    padding:0 5px;
}

ul{
    padding-left:15px;
}

.date-form{
    max-width:177px;
    margin-bottom:5px;
}

.news-description {
    text-indent: 30px;
    text-align:justify;
    font-size:1.6em;
}

.news-details{
    background-color:#ebebeb;
}

h4{
    margin:0;
}