@model NewsSystem.Web.ViewModels.NewsViewModel

@{
    ViewBag.Title = "Details";
}

<li class="list-group-item news-details">
    <div><span class="news-title">@Model.Title</span></div>
    <div class="date-created">@Model.PubDate</div>
    <br />
    <p class="news-description">@Model.Description</p>
</li>

